@media (min-width: 768px) {
    .header-bottom-list-item-link:hover {
        color: var(--mint);
    }

    .header-bottom-list-item-link:focus-visible,
    .header-bottom-list-item-link:active {
        filter: brightness(1.1);
    }

    .header-bottom-list-item-link:hover::before {
        width: 100%;
        left: 0;
    }

    .header-bottom-list-item-link:focus-visible::before,
    .header-bottom-list-item-link:active::before {
        filter: brightness(1.15);
    }

    .request-widget-img:hover {
        transform: scale(1.05);
    }

    .request-widget-img:focus-visible,
    .request-widget-img:active {
        transform: scale(0.95);
    }

    .card-list-item:hover .card-list-item-svg .circle {
        fill: var(--mint);
    }

    .bullet:hover {
        transform: scale(1.1);
    }

}

@media (max-width: 1500px) {
    .modal {
        width: 51%;
    }
}

@media (max-width: 1439px) {
    .hero-content-title {
        font-size: 38px;
        line-height: 51px;
    }

    .request__timer {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .main {
        padding-top: 179px;
    }

    .header-top__container {
        flex-direction: column;
    }

    .header-top__wrap {
        margin-bottom: 20px;
    }

    .header-top__contact {
        width: 100%;
    }

    .header-bottom__list {
        flex-wrap: wrap;
    }

    .header-bottom__list:first-of-type {
        margin-right: 20px;
    }

    .hero-content-title {
        padding: 20px 80px;
        font-size: 34px;
        line-height: 43px;
    }

    .request__timer {
        flex-direction: column;
    }

    .request-timer__wrap {
        margin-bottom: 40px;
    }

    .car-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }

    .car-list__item {
        width: 728px;
    }
}

@media (max-width: 1023px) {
    .container {
        max-width: 840px;
    }

    .header-top-contact-link--tel {
        font-size: 12px;
    }

    .header-top-contact-link--addr {
        font-size: 11px;
    }

    .header-top-contact-link__img {
        margin-right: 5px;
    }

    .hero {
        padding-top: 53px;
        padding-bottom: 360px;
    }

    .hero-content-title {
        font-size: 30px;
        line-height: 39px;
    }

    .modal {
        width: 70%;
    }
}

@media (max-width: 991px) {
    .hero-content-title {
        font-size: 25px;
        line-height: 31px;
    }
}

@media (max-width: 920px) {
    .container {
        max-width: 720px;
    }

    .main {
        padding-top: 179px;
    }

    .hero-content-title {
        padding: 20px;
    }

    .request__widget {
        width: auto;
    }

    .request-widget {
        position: fixed;
        z-index: 100;
        left: 4.5%;
        bottom: 1%;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }

    .main {
        padding-top: 187px;
    }

    .header {
        height: 187px;
    }

    .header__bottom {
        position: relative;
        justify-content: flex-end;
    }

    .header-bottom__wrap {
        position: absolute;
        display: none;
        top: 80px;
        left: 50%;
        transform: translateX(-50%);
    }

    .header.header--active {
        height: 100%;
    }

    .header-bottom--active {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-bottom: 40px;
    }

    .header-bottom--active .header-bottom__wrap {
        animation: .5s transform-active;
    }

    .header-bottom--hidden .header-bottom__wrap {
        animation: 1.5s transform-disabled;
    }

    .header-bottom__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-bottom__list:first-of-type {
        margin-right: 0;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--mint);
    }

    .header-bottom-list__item {
        margin: 0;
    }

    .header-bottom-list__item:not(:last-of-type) {
        margin: 0 0 10px 0;
    }

    .burger {
        display: flex;
    }

    .hero {
        padding-top: 43px;
        padding-bottom: 260px;
    }

    .hero-content__title {
        width: 100%;
        margin-bottom: 20px;
    }

    .hero-content-title {
        padding: 20px 0;
        font-size: 25px;
        line-height: 30px;
    }

    .car-list__item {
        width: 536px;
    }

    .modal {
        width: 80%;
    }

    .fancybox-content {
        padding: 20px !important;
    }
}

@media (max-width: 680px) {
    .hero-content-title {
        font-size: 20px;
        line-height: 28px;
    }

    .request-widget-img {
        animation: pulse 4s ease-in-out infinite;
    }

    .request-timer__text {
        margin-bottom: 30px;
    }

    .request-timer-text {
        text-align: center;
    }

    .request-timer-wrap div[id^="timer"] {
        zoom: 75% !important
    }

    .modal {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .header {
        height: 226px;
    }

    .header-top__contact {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-top-contact__link--tel {
        margin: 0 0 15px;
    }

    .header-top-contact-link__img {
        margin-right: 10px;
    }

    .main {
        padding-top: 226px;
    }
}

@media (max-width: 576px) {
    .request-timer__text {
        margin-bottom: 20px;
    }

    .request-timer-text {
        font-size: 14px;
    }

    .car-list__item {
        width: 466px;
    }

    .card-info__wrap {
        margin-bottom: 10px;
    }

    .card-info-title {
        font-size: 18px;
    }

    .card-info-text {
        font-size: 16px;
    }

    .card-list-item__svg {
        margin-right: 6px;
    }

    .card-list-item-text {
        font-size: 10px;
        line-height: 11px;
    }

    .modal__title {
        margin-bottom: 20px;
    }

    .modal-title {
        font-size: 24px;
    }

    .fancybox-content {
        padding: 20px 15px 10px !important;
    }
}

@media (max-width: 500px) {
    .hero-content-title {
        padding: 10px 0;
        font-size: 17px;
        line-height: 24px;
    }

    .car-list__item {
        width: 380px;
    }

    .car-list-item {
        padding: 20px;
    }

    .card__label {
        width: 147px;
        height: 32px
    }

    .card-label-text {
        font-size: 10px;
        line-height: 12px;
    }

    .card__info {
        margin-bottom: 20px;
    }

    .card__list {
        flex-direction: column;
    }

    .card-list__item {
        width: 100%;
    }

    .swiper-pagination-1,
    .swiper-pagination-2 {
        margin-bottom: 20px;
    }

    .card-info__wrap {
        flex-direction: column-reverse;
        margin-bottom: 0;
    }

    .card-info-wrap {
        padding: 27px 10px 0;
    }

    .card-info__content {
        align-self: flex-end;
        margin-bottom: 10px;
    }

    .card-info-text {
        padding-left: 10px;
        font-size: 14px;
    }
}

@media (max-width: 470px) {
    .request-timer__wrap {
        margin-bottom: 30px;
    }

    .request-timer-wrap div[id^="timer"] {
        zoom: 60% !important
    }
}

@media (max-width: 420px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header-top-contact-link--addr {
        font-size: 10px;
    }

    .hero {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 250px;
        padding-top: 30px;
        padding-bottom: 0;
    }

    .hero__content {
        padding: 0;
    }

    .hero-content__title {
        margin-bottom: 10px;
        padding: 10px 41px;
    }

    .hero-content-title {
        font-size: 16px;
        line-height: 20px;
    }

    .request-timer__text {
        margin-bottom: 10px;
    }

    .request-timer-text {
        font-size: 12px;
    }

    .car-list__item {
        width: 320px;
    }

    .card-info-content-text {
        font-size: 10px;
        line-height: 12px;
    }

    .swiper-pagination-1,
    .swiper-pagination-2 {
        margin-bottom: 10px;
    }

    .card__list {
        margin-bottom: 20px;
    }

    .card-list__item {
        margin-bottom: 6px;
    }

    .modal {
        width: 95%;
    }

    .fancybox-content {
        padding-top: 40px !important;
    }

    .modal-title {
        font-size: 20px;
        line-height: normal;
    }

    .modal-form-label {
        font-size: 12px;
    }

    .modal-form__input {
        width: 100%;
    }
}

@media (max-width: 360px) {
    .header {
        height: 216px;
    }

    .header-bottom {
        padding: 5px 10px;
    }

    .main {
        padding-top: 216px;
    }

    .car-list__item {
        width: 300px;
    }

    .card-info-title {
        font-size: 17px;
    }

    .request-timer-wrap div[id^="timer"] {
        zoom: 50% !important;
    }
}

@media (max-width: 334px) {
    .header {
        height: 231px;
    }

    .main {
        padding-top: 231px;
    }
}